:root {
    --azul-escuro: #0E294B;
    --azul-claro: #56CCF2;
    --cinza-claro: #F2F2F2;
    --branco: #F3F3F3;
    --preto: #222222;
}

header {
    background-color: var(--preto);
    color: var(--branco);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: outset;
}

nav {
    width: 100%;
    display: block;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

.logo-container {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 20px;
}

svg {
    stroke: var(--branco);
    fill: var(--azul-claro);
    width: 100px;
    height: 100px;
}

.project-name {
    text-align: center;
    text-shadow: 1px 1px var(--azul-claro);
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.nav-links div {
    margin-right: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    flex-basis: calc((100% - 2rem) / 3);
    text-align: center;
    border-radius: 10px;
}

.nav-links div:hover {
    transform: scale(1.1);
    text-shadow: 0 0 3px var(--branco);
    box-shadow: 0 0 3px var(--branco);
}