:root {
    --azul-escuro: #0E294B;
    --azul-claro: #56CCF2;
    --cinza-claro: #F2F2F2;
    --branco: #F3F3F3;
    --preto: #222222;
}

.maze-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: none;
}

.maze-row {
    display: flex;
}

.maze-cell {
    width: 30px;
    height: 30px;
    border: 1px solid var(--cinza-claro);
    box-sizing: border-box;
}

.maze-cell--player {
    background-color: var(--azul-claro);
}

.maze-cell--path {
    background-color: var(--branco);
}

.maze-cell--wall {
    background-color: var(--azul-escuro);
}