:root {
  --azul-escuro: #0E294B;
  --azul-claro: #56CCF2;
  --cinza-claro: #F2F2F2;
  --branco: #F3F3F3;
  --preto: #222222;
}

.App {
  width: 100%;
  height: auto;
  justify-content: center;
  background-color: var(--preto);
  color: var(--branco);
  display: flexbox;
}